/*------------------------------
  Custom Colour Palette
------------------------------*/
$colour-white: #ffffff;

$colour-grey-e: #eeeeee;
$colour-grey-d: #dddddd;
$colour-grey-c: #cccccc;
$colour-grey-b: #bbbbbb;
$colour-grey-a: #aaaaaa;
$colour-grey-9: #999999;
$colour-grey-8: #888888;
$colour-grey-7: #777777;
$colour-grey-6: #666666;
$colour-grey-5: #555555;
$colour-grey-4: #444444;
$colour-grey-3: #333333;
$colour-grey-2: #222222;
$colour-grey-1: #111111;

$colour-black: #000000;
