/*------------------------------
  FOUNDATION
------------------------------*/
@import "../../../node_modules/foundation-sites/scss/settings/settings";
@import "globals/settings";
@import "../../../node_modules/foundation-sites/scss/foundation";

@include foundation-global-styles; // Always include the global-styles
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
//@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-button-group;
//@include foundation-callout;
//@include foundation-close-button;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
@include foundation-label;
//@include foundation-media-object;
@include foundation-menu;
//@include foundation-off-canvas;
//@include foundation-orbit;
@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
//@include foundation-top-bar;

@import 'globals/colours';

@import 'vendor/font-awesome/font-awesome';

/*------------------------------
  GLOBAL STYLES
------------------------------*/
.container {
  > header {
    background-color: $primary-color;
    padding: rem-calc(20 0);

    .main-logo {
      text-decoration: none;

      .title {
        font-size: rem-calc(36);
        line-height: rem-calc(40);
        color: $colour-grey-e;
        text-transform: uppercase;
      }

      .tagline {
        font-size: rem-calc(16);
        line-height: rem-calc(20);
        color: $colour-grey-5;
        letter-spacing: 2px;
      }
    }

    .menu {
      li {
        a {
          background-color: darken($primary-color, 10%);
          color: $colour-grey-e;

          &:hover {
            background-color: darken($primary-color, 20%);
          }
        }
      }
    }
  }

  > footer {
    background-color: darken($primary-color, 20%);
    padding: rem-calc(20 0);

    a {
      color: $colour-grey-e;
      text-decoration: none;
    }

    @media screen and (max-width: 639px) {
      text-align: center;

      .columns:first-of-type {
        margin-bottom: rem-calc(16);
        padding-bottom: rem-calc(16);
        border-bottom: 1px solid darken($primary-color, 30%);
      }

      a {
        float: none !important;
      }
    }
  }
}

.main-content {
  padding: rem-calc(20 0);
}

article {
  &.short-stack {
    margin-bottom: rem-calc(30);
    border-top: 1px solid darken($primary-color, 20%);
    padding-top: rem-calc(20);

    &:first-of-type {
      border-top: 0;
      padding-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .post-title {
      a {
        color: $body-font-color;
      }
    }

    .posted-info {
      margin-bottom: rem-calc(8);
    }
  }

  a {
    color: $primary-color;

    &:hover {
      color: darken($primary-color, 10%);
    }
  }

  .tag-list {
    .tags {
      display: inline-block;
      padding: rem-calc(3 5);
      background-color: darken($primary-color, 20%);
      color: $colour-grey-e;
    }

    a {
      display: inline-block;
      padding: rem-calc(3 5);
      background-color: $primary-color;
      color: $colour-grey-e;
      margin-bottom: 4px;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  .read-more {
    display: inline-block;
    padding: rem-calc(3 5);
    background-color: $primary-color;
    color: $colour-grey-e;

    &:hover {
      background-color: darken($primary-color, 10%);
      color: $colour-grey-e;
    }
  }
}

.category-heading {
  padding: rem-calc(9 10);
  background-color: darken($primary-color, 30%);
  color: $colour-grey-e;
  margin-bottom: 1px;

  @media screen and (max-width: 639px) {
    margin-top: rem-calc(30);
  }
}

ul.category-list {
  list-style: none;
  margin-left: 0;

  li {
    margin-bottom: 1px;

    a {
      display: block;
      padding: rem-calc(3 10);
      background-color: darken($primary-color, 10%);
      color: $colour-grey-e;

      &:hover {
        background-color: darken($primary-color, 20%);
      }
    }
  }
}

.pagination {
  margin-top: rem-calc(10);
  text-align: center;
}
